<div class="container my-5">
    <h1 class="text-center">Bienvenido a la página de mascotas</h1>
    <p class="text-center">Aquí encontrarás todo lo que necesitas para cuidar y amar a tu mascota.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img1.jpg" alt="Perro">
          <div class="card-body">
            <h5 class="card-title">Perro</h5>
            <p class="card-text">El perro es un animal doméstico que suele ser muy leal y amoroso con sus dueños. Son conocidos por su lealtad y su capacidad para brindar compañía y protección.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img2.jpg" alt="Gato">
          <div class="card-body">
            <h5 class="card-title">Gato</h5>
            <p class="card-text">El gato es un animal doméstico conocido por su independencia y elegancia. Son excelentes cazadores y pueden formar fuertes lazos con sus dueños.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img3.jpg" alt="Hamster">
          <div class="card-body">
            <h5 class="card-title">Hamster</h5>
            <p class="card-text">El hámster es un pequeño roedor que se suele mantener como mascota. Son animales muy activos y curiosos, y pueden ser una gran fuente de entretenimiento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  